*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255);
}

body {
  background-color: rgb(18, 21, 25);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin: 3rem 0;
}

.game-board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.game-square {
  background-color: rgb(18, 21, 25);
  border-radius: 10px;
  border: 2px solid rgb(68, 140, 116);
  font-weight: 900;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-square.highlight {
  background-color: rgba(68, 140, 116, 0.2);
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: white;
  padding: 0.5rem;
  border: 2px solid rgb(68, 140, 116);
  border-radius: 5px;
  background: rgba(68, 140, 116, 0.2);
  cursor: pointer;
}
