*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f4f1de;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board {
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.game-square {
  border-radius: 10px;
  border: 2px solid #3d405b;
  font-weight: 900;
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
